/*CSS Styling*/
body {
    margin: 0;
    padding: 0;
    width: 417px;
    height: 548px;
    overflow: hidden;
}
.main-container{
    display: flex;
    background-color: rgb(252, 236, 236);
    width: 417px;
    height: 548px;
    position: relative;

}
.white-container{
    display: flex;
    background-color: white;
    border-radius: 60px;
    width: 384px;
    height: 490.27px;
    box-shadow: 8px 4px 5px rgb(184, 184, 184);
    margin: 20px; 

}

.title{
    display:flexbox;
    font-family: 'Chilanka', cursive;
    position: relative;
    top: 10px;
    left: 150px;
    font-size: 2.9em;
    font-weight: 400;
}

.clippey-motto{
    display: flex;
    position: absolute;
    width: 200px;
    height: 20px;
    top: 23%;
    left: 39%;
    padding-top: 3px;
    font-size: 0.8em;
    font-family: 'Chilanka', cursive;
    justify-content: center ;
    /*background-color: grey;*/

}

.logo-container{
    display: flex;
    position: absolute;
    top: 8%;
    left: 19%;
    width: 60px;
    height: 63px;
}

.paste-board{
    position: absolute;
    display: flex;
    width: 311px;
    height: 134px;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(250, 236, 236);
    top: 150px;
    left: 56px;
    font-family: 'Chilanka', cursive;
    padding: 10px;
    resize: none;
    font-size: 1em;
    box-sizing: border-box;

}
.paste-board-text{
    font-family: 'Chilanka', cursive;
    padding: 10px;

}

.action-buttons{
    display: flex;
    gap: 60px;
    position: absolute;
    top: 340px;
    right: 91px;
    justify-content: center;
    
    
}
.save-text{
    width: 100px;
    height: 50px;
    font-family: 'Chilanka', cursive;
    background-color: rgb(255, 247, 247);
    border-radius: 10px;
    font-size: 1em;
}

.view-saved{
    width: 100px;
    height: 50px;
    padding: 3px;
    font-family: 'Chilanka', cursive;
    background-color: rgb(255, 247, 247);
    border-radius: 10px;
    font-size: 1em;
}